<mat-sidenav-container>
  <mat-sidenav mode="side" #drawer>
   <mat-list>
     <mat-list-item>
       <mat-icon matListIcon>dashboard</mat-icon>
       Dashboard 1
     </mat-list-item>
     <mat-list-item>
       <mat-icon matListIcon>dashboard</mat-icon>
       Dashboard 2
     </mat-list-item>
     <mat-list-item>
       <mat-icon matListIcon>dashboard</mat-icon>
       <ng-content select=".content"></ng-content>
     </mat-list-item>
   </mat-list>
  </mat-sidenav>
  <mat-sidenav-content>
   <div #contentContainer></div>
  </mat-sidenav-content>
</mat-sidenav-container>
