<div fxLayout="row" fxLayoutAlign="space-around center">
  <img [src]="currentProduct.img">
  <div fxLayout="row" fxLayoutAlign="space-around center">
    <mat-icon class="decrement" color="primary" (click)="decrementProduct()">remove</mat-icon>
    <p>{{currentProduct.count}}</p>
    <input type="text"  [formControl]="countValue" >
    <mat-icon class="increment" color="primary" (click)="incrementProduct()">add</mat-icon>
  </div>
  <p>{{currentProduct.price | number: '1.0-0'}}</p>
  <mat-icon class="remove" color="primary" (click)="removeProduct()">delete</mat-icon>
</div>
